html{
    scroll-behavior: smooth;
}

body {
  font-size: 16px;
}


@media screen and (min-width: 600px) {
  div {
    width: 100%;
    padding: 10px;
  }
}


@media screen and (min-width: 768px) {
  div {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 992px) {
  div {
    width: 33.33%;
  }
}
@media screen and (min-width: 1200px) {
  div {
    width: 25%;
  }
}
